@import url('https://fonts.googleapis.com/css?family=Dangrek:700|Dangrek:400');

body {
  font-family: 'Dangrek';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Dangrek';
  font-weight: 700;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}

:root[data-theme="light"] {
  --text: #120d0f;
  --background: #f2e9ed;
  --primary: #5e2b42;
  --secondary: #d586a9;
  --accent: #b9316e;
}

:root[data-theme="dark"] {
  --text: #f1ecee;
  --background: #180e13;
  --primary: #d3a0b7;
  --secondary: #772a4d;
  --accent: #ce4784;
}
